.profile-box {
  padding: 20px;
  color: #6f6f6f;

  background: linear-gradient(90deg, white 24%, rgba(218, 218, 218, 1) 24%);
}
h1 {
  font-size: 20px;
}
.profile-pik {
  width: 200px;
  height: auto;
  border-radius: 50%;
}

.skill-box {
  color: #6f6f6f;
   margin-left: 4px;
}
.about-box {
  color: #6f6f6f;
   margin-left: 4px;
}
.education-box {
  color: #6f6f6f;
  margin-left: 4px;
}
.project-box {
  color: #6f6f6f;
  text-align: left;
   margin-left: 4px;
}
li {
  padding: 10px;
}
ul {
  list-style: none;
}
footer {
  background-color: rgba(218, 218, 218, 1);
  padding: 30px;
}
a {
  margin:0;
  padding: 0 10px;
  text-decoration: none;
  color: #6f6f6f;
}
