.profile-box {
  padding: 20px;
  color: #6f6f6f;
  background: linear-gradient(90deg, white 24%, rgba(218, 218, 218, 1) 24%);
}
.profile-pik {
  width: 200px;
  height: auto;
  border: WHITE solid;
  border-radius: 50%;
}
a {
  padding: 15px 15px 25px 15px;
  margin-bottom: 20px;
  color: #6f6f6f;
}
.skill-box {
  color: #6f6f6f;
}
.about-box {
  color: #6f6f6f;
}
.education-box {
  color: #6f6f6f;
}
.project-box {
  color: #6f6f6f;
}

footer {
  background-color: rgba(218, 218, 218, 1);
  padding: 30px;
}
