.profile-box {
  padding: 20px;

  /* background: linear-gradient(90deg, white 24%, rgba(218, 218, 218, 1) 24%); */
}
h1 {
  font-size: 20px;
}
/* .profile-pik {
} */
.name-dev {
  font-size: 30px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-family: "Red Hat Mono", monospace;
  color: #94b49f;
  /* background: -webkit-linear-gradient(red, blue);
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
.skill-box {
  color: #ad8b73;
  margin-left: 4px;
}
.about-box {
  /* color: #6f6f6f; */
  margin-left: 4px;
}
.education-box {
  color: #B05B3B;

  margin-left: 4px;
}
.project-box {
  /* color: #6f6f6f; */
  text-align: left;
  margin-left: 4px;
}
.address-box {
  color: #A8774E;
}
li {
  padding: 10px;
}
ul {
  list-style: none;
}
footer {
  /* background-color: rgba(218, 218, 218, 1); */
  padding: 30px;
}
a {
  text-decoration: none;
}
.nav-link {
  text-decoration: none;
  margin: 20px 20px;
}

hr {
  margin: 0 40px;
  height: .0001px;

  border: solid;

  border-radius: 50%;
}
